body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    
    min-height: 100vh;
  }
  
.form-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
   
    width: 500px;
}
  
h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
  
form {
    display: flex;
    flex-direction: column;
}
  
label {
    margin-bottom: 5px;
    font-weight: bold;
}
  
input, textarea, button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
  
textarea {
    resize: none;
}
  
button {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
  
button:hover {
    background-color: #333;
}
  
input:focus, textarea:focus {
    border-color: #555;
    outline: none;
}
  